body {
  background-color: #f1f1f1;
}

blockquote,
article {
  border-radius: 5px;
  padding: 1rem;
  background: #f1f1f1;
  font-style: italic;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.05);
}

blockquote {
  border-left: 5px solid #c2c2a3;
}

article {
  border-top: 5px solid #c2c2a3;
}
